# Ignorar arquivos de log
*.log

# Ignorar arquivos temporários do sistema
*.tmp
*.bak

# Ignorar uma pasta inteira
/media/jczars/4C22F02A22F01B22/$WinREAgent/Pollen_classification_view/0_pseudo_labels/Reports/0_MobileNet_sem_BI_5/
/media/jczars/4C22F02A22F01B22/$WinREAgent/Pollen_classification_view/0_pseudo_labels/Reports/1_MobileNet_sem_BI_5/
//media/jczars/4C22F02A22F01B22/$WinREAgent/Pollen_classification_view/BD/BI_5/
/media/jczars/4C22F02A22F01B22/$WinREAgent/Pollen_classification_view/BD/CPD1_Dn_VTcr_111124/
/media/jczars/4C22F02A22F01B22/$WinREAgent/Pollen_classification_view/BD/CPD1_Is_Rc/
/media/jczars/4C22F02A22F01B22/$WinREAgent/Pollen_classification_view/BD/Cropped Pollen Grains/

# Ignorar arquivos específicos
BI_5_testSet.csv
BI_5_trainSet.csv
BI_5_valSet.csv
